@font-face {
    font-family: thsarabunnew;
    src: url(../font/THSarabunNew.ttf);
  }

#title {
    width: 100%;
}
#title tr td{
    border: none;
}

table{
    width:100%;    
}
caption {
    padding-top: 3px !important;
    padding-bottom: 3px !important;    
    text-align: center !important;
    color: black !important;
}
tr:nth-child(1)>td{
    border:1px solid black;
}
.b-none{
    border: none;
}
.b-l-r-none{
    border-right: none;
    border-left: none;
}
tr>td{
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.slip-container{
    font-family: "thsarabunnew";    
    font-size:15pt;
    margin: 0 auto;
    width:460px !important;
}
.center{
    margin:0 auto;
}
/* style border 1px solid black; */
.b-all{
    border: 1px solid black;
}
.b-r{
    border-right: 1px solid black;
}
.b-l{
    border-left: 1px solid black;
}
.b-t{
    border-top: 1px solid black;
}
.b-b{
    border-bottom: 1px solid black;
}


@media print {
    .slip-container{
        margin: 0 auto;
        width:460px !important;
    }
  }